* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  position: relative;
  min-height: 100%;
  background-color: #d0d0d0; }

a {
  color: inherit; }

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  max-width: 960px; }

.row {
  margin: 0 -15px; }

.row-wrap {
  padding: 0 0px; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

[class*="col-"] {
  padding: 0 30px; }

@media (min-width: 560px) {
  .col-phablet-1-2 {
    float: left;
    width: 50%; } }

.show-on-tablet, .show-on-phablet {
  display: none; }

@media (min-width: 560px) {
  .show-on-phablet {
    display: block; } }

@media (min-width: 768px) {
  .show-on-phablet {
    display: none; } }

@media (min-width: 768px) {
  .show-on-tablet {
    display: block; } }

@media (min-width: 952px) {
  .show-on-tablet {
    display: none; } }

@media (min-width: 952px) {
  .col-desktop-1-3 {
    float: left;
    width: 33.33%; } }

@media (min-width: 952px) {
  .col-desktop-1-4 {
    float: left;
    width: 25%; } }

.pull-righter {
  float: right; }

.article {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  margin: 20px 0px;
  display: block;
  position: relative; }
  .article_small-image {
    padding-left: 70px;
    text-align: left; }
    .article_small-image .article__img {
      width: 48px;
      position: absolute;
      top: 10px;
      left: 0; }
  .article__img {
    margin-bottom: 20px; }
  .article__title {
    font-size: 16px;
    color: #894aa3;
    margin-bottom: 10px; }
  .article__text {
    font-size: 13px;
    color: #666666;
    line-height: 1.6; }

.img-placeholder-260x180 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  max-width: 100%;
  width: 260px;
  height: 180px;
  background-color: #333333; }
  .img-placeholder-260x180:before {
    content: "260 x 180px"; }

.img-placeholder-48x48 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  max-width: 100%;
  width: 48px;
  height: 48px;
  background-color: #333333; }
  .img-placeholder-48x48:before {
    content: "48 x 48px"; }

.img-placeholder-960x380 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 26px;
  max-width: 100%;
  width: 960px;
  height: 380px;
  background-color: #333333; }
  .img-placeholder-960x380:before {
    content: "960 x 380px"; }

.section {
  padding: 25px 0;
  background: #fff;
  border-bottom: 1px solid #e1e1e1; }
  .section_grey {
    background: #ebebea; }

.slide {
  position: relative; }
  .slide__text {
    color: #c2c2c2;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    padding-right: 30px; }
  .slide__title {
    margin-bottom: 10px;
    font-size: 20px; }
  .slide__descr {
    font-size: 13px; }

.slider__wrap {
  position: relative; }

.slider__arrows {
  padding: 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  top: 45%;
  z-index: 1; }

.slider__arrow {
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #525252;
  overflow: hidden;
  cursor: pointer; }
  .slider__arrow_prev:before, .slider__arrow_next:before {
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    background-color: #666666;
    z-index: 2; }
  .slider__arrow_prev:before {
    content: '';
    top: 12px;
    left: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .slider__arrow_prev:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-right: 70px solid #000;
    border-bottom: 130px solid transparent;
    z-index: 3;
    left: 23px;
    top: -107px; }
  .slider__arrow_next:before {
    content: '';
    top: 12px;
    left: 7px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .slider__arrow_next:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-right: 70px solid #000;
    border-bottom: 130px solid transparent;
    z-index: 3;
    left: -46px;
    top: -107px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .slider__arrow_prev {
    position: relative;
    overflow: hidden; }
  .slider__arrow_next {
    overflow: hidden;
    float: right;
    position: relative;
    top: -50px; }

ul.slick-dots li.slick-active {
  width: 10px;
  height: 10px;
  border: 2px solid #666666;
  background-color: #333333;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1; }

ul.slick-dots {
  margin-left: 30px;
  position: absolute;
  top: 85%; }
  ul.slick-dots li {
    list-style: none;
    display: inline-block;
    background-color: #666666;
    position: relative;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px; }
    ul.slick-dots li button {
      display: none; }

.footer {
  background: #fff;
  padding: 35px 0;
  color: #999; }
  .footer__title {
    color: #666;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px; }

.fs12 {
  font-size: 12px; }

[href^="tel:"], [href^="fax:"], [href^="mailto:"] {
  text-decoration: none; }

.m-b-10 {
  margin-bottom: 10px; }

.contacts {
  font-size: 13px;
  line-height: 1.6; }
  .contacts a {
    color: inherit; }

.quick-links li {
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb; }
  .quick-links li a {
    text-decoration: none;
    color: inherit;
    font-size: 12px; }
  .quick-links li:first-child {
    padding-top: 0; }

.post {
  font-size: 12px;
  line-height: 1.6; }
  .post__title {
    font-weight: bold;
    font-size: 13px; }
    .post__title a {
      text-decoration: none; }
  .post__info {
    margin-bottom: 5px; }
  .post__show-more {
    text-align: right;
    color: #874ca0; }
    .post__show-more a {
      text-decoration: none;
      color: inherit; }

.button {
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 13px;
  color: #874ca0;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #e6e6e6; }

.form__input {
  color: #999999;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #e6e6e6; }
  .form__input input[type="text"], .form__input input[type="email"] {
    width: 100%;
    padding: 0 10px;
    line-height: 32px;
    font-size: 13px;
    border: 0px;
    background: none; }

.copyrighter {
  padding: 25px 30px;
  background: #444;
  font-size: 12px;
  color: #d0d0d0; }

.header {
  border-top: 10px solid #894aa3;
  background-color: #fff; }
  .header__search {
    float: right;
    line-height: 0;
    width: 216px;
    margin-right: 30px;
    position: relative; }
    .header__search .form__search {
      color: #999999;
      -webkit-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      background: #e6e6e6; }
      .header__search .form__search input[type="search"] {
        width: 100%;
        line-height: 28px;
        font-size: 13px;
        border: 0px;
        background: none;
        outline: none; }
      .header__search .form__search input[type="search"]::-webkit-search-cancel-button {
        display: none; }
  .header__main {
    text-transform: uppercase;
    font-size: 26px;
    color: #666666;
    padding: 35px 30px;
    line-height: 0.8;
    border-bottom: 1px solid #e1e1e1; }
    .header__main span {
      font-size: 36px; }
    .header__main p {
      color: #999999;
      font-size: 13px;
      text-transform: none;
      width: 200px;
      display: inline; }
    .header__main ul.menu {
      line-height: 2.4;
      list-style: none;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 12px;
      float: right; }
      .header__main ul.menu li {
        float: left;
        padding-left: 10px; }
        .header__main ul.menu li a {
          padding: 10px;
          text-decoration: none;
          color: #666666; }
          .header__main ul.menu li a:hover {
            color: #000; }
        .header__main ul.menu li:last-child a {
          padding-right: 0; }
  .header__quote {
    background: #ebebea;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 120px; }

.search-button {
  position: absolute;
  cursor: pointer;
  right: 7px;
  top: 5px;
  width: 18px;
  height: 18px;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff; }
  .search-button:before {
    content: '';
    position: absolute;
    left: 4px;
    right: 0;
    top: 4px;
    width: 7px;
    height: 7px;
    border: 1px solid #894aa3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1; }
  .search-button:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 12px;
    border-right: 1px solid #894aa3;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

@media (max-width: 665px) {
  .header__main {
    text-align: center; }
    .header__main ul.menu {
      padding-top: 10px;
      float: none;
      text-align: center; }
      .header__main ul.menu li {
        float: none;
        text-align: center; }
        .header__main ul.menu li a {
          display: block;
          width: 100%;
          padding: 0; }
  .header__quote {
    padding: 10px 30px; } }
